:root {
    --color-primary: #80b5e9;
    --color-secondary: #fff;
    --azul-royal: #144480;
    --fundo-card-timer: rgba(20, 69, 128, 0.781);
    --lils: #b872ff;
    --linear-botes: linear-gradient(180deg, #b872ff 0%, #144480 100%);
}

[data-contexto="foco"] {
    --main-bg-color: linear-gradient(
        180deg,
        #f8931fd2 0%,
        #f8931f72 48.44%,
        #01080e 100%
    );
}

[data-contexto="descanso"] {
    --main-bg-color: linear-gradient(
        180deg,
        #0f72598a 0%,
        #074d479d 48.44%,
        #041832 100%
    );
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background: var(--main-bg-color);
    min-height: 100vh;
    font-size: 10px;
}

body {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, cursive;
    margin: 0;
}

.app__logo-figure {
    display: flex;
    justify-content: center;
}

.app__content {
    width: 99rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.app__title {
    font-size: 4.2rem;
    color: var(--color-secondary);
    font-weight: 200;
    max-width: 55rem;
}

.app__title-strong {
    font-weight: 600;
}
.banner {
    display: flex;
    justify-content: center;
    padding-top: 0px !important;
    padding-bottom: 50px !important;
}

.app__card {
    border-radius: 3.2rem;
    border: 0.2rem solid var(--azul-royal);
    background: var(--fundo-card-timer);
    padding: 2.4rem;
    width: 59rem;
    max-width: 90%;
}

.app__checklist {
    padding: 2.4rem;
    display: grid;
    justify-content: center;
    gap: 1.6rem;
}

.app__checklist button {
    padding: 0.4rem;
    width: 10rem;
    color: var(--color-secondary);
    border: none;
    border-radius: 3.2rem;
    background: var(--color-primary);
    font-size: 1.8rem;
}

.app__checklist input {
    padding: 0.8rem;
    border-radius: 3.2rem;
    border: none;
    font-size: 1.8rem;
    color: white;
    background: rgba(255, 255, 255, 0.1);
}
.app__checklist-input{
    display: contents;
}

.app__checklist h1 {
    color: white;
}

.app__checklist ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.app__checklist li {
    margin-bottom: 10px;
    color: white;
    font-size: 1.8rem;
    padding-top: 1rem;
}

.app__checklist .checked {
    text-decoration: line-through;
    color: gray;
}

.app__card-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.app__card-list-item {
    cursor: pointer;
}

.app__card-timer {
    color: var(--color-secondary);
    text-align: center;
    font-family: Unbounded, Arial, sans-serif;
    font-size: 12rem;
    font-weight: 700;
    margin: 3.2rem 0;
}

.app__card-list-label {
    color: var(--color-secondary);
    font-family: Montserrat, Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
}

.app__card-primary-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
    font-family: inherit;
}

.app__card-primary-button {
    padding: 0.8rem;
    width: 12rem;
    color: var(--color-secondary);
    border: none;
    border-radius: 3.2rem;
    background: var(--color-primary);
    margin-top: 3.2rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.app__button {
    background-color: var(--color-primary);;
    border-radius: 3.2rem;
    border: none;
    color: var(--color-secondary);
    font-size: 1.8rem;
    padding: 0.8rem 2rem;
    transition: background 0.2s, color 0.2s;
}

.app__button.active {
    border-radius: 10px;
    background: orange;
    font-weight: 600;
    color: #fff;
}

.app__footer {
    display: flex;
    width: 100%;
    padding: 2.8rem 6rem;
    justify-content: center;
    align-items: center;
    background: #010b15;
}

.app__footer-text {
    color: rgba(182, 182, 182, 0.8);
    text-align: center;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
}

.toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 1.6rem;
    width: 5.8rem;
    height: 3.2rem;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before {
    content: "";
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
}

.toggle-checkbox:checked + .toggle-switch {
    background: var(--lils);
}

.toggle-checkbox:checked + .toggle-switch:before {
    left: 3rem;
}

.toggle-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .app__content {
        width: 48rem;
        display: block;
    }

    .app__title {
    font-size: 2.4rem;
    color: var(--color-secondary);
    font-weight: 200;
    max-width: 55rem;
}

    .app__image-figure{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;

        .app__image{
            width: 350px;
            height: 350px;
        }
    }
}

@media (max-width: 767px) {
    .app__content {
        width: 32rem;
        display: block;
    }

        .app__image-figure{
        display: flex;
        justify-content: center;
        align-items: center;

        .app__image{
            width: 350px;
            height: 270px;
        }
    }

    .app__title {
        font-size: 2.6rem;
    }
    .app__card-timer {
        font-size: 6rem;
    }
}
